body, html {
    height: 100%;
    margin: 0;
}

body {
    background-color: #fbfcf9;
    font-family: 'Montserrat', sans-serif;
}

.header {
    width: 100%;
    margin-bottom: 20px;
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 60px);
    padding: 20px;
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.col-md-6 {
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

p.lead {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
}

p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.form-control {
    border-radius: 5px;
    margin-bottom: 15px;
}

.btn-warning {
    background-color: #ffdd57;
    color: #333;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.btn-outline-secondary {
    color: #333;
    border-color: #ddd;
    border-radius: 5px;
    margin: 5px;
}

.img-fluid {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 40px;
}

.navbar {
    width: 100%;
}

@media (max-width: 768px) {
  .home-container {
    padding: 10px;
  }

  .home-container .row {
    flex-direction: column;
  }

  .home-container .col-md-6 {
    margin-bottom: 20px;
  }
}
