/* General */
/* body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
    height: 100%;
    width: 100%;
} */

/* Contenedor principal del catálogo */
.catalog-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

/* Contenido del catálogo */
.catalog-content {
    position: relative;
    top: 0;
    left: 0;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    background-image: url('../../public/images/fondo-catalogos.png');
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
    gap: 10px;
    padding-top: 6rem;
}

/* Estilos para los encabezados h1 y h2 */
.catalog-content h1 {
    color: #333;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.catalog-content h2 {
    color: #555;
    font-size: 2rem;
    font-weight: semi-bold;
    text-align: center;
    margin-bottom: 0.75rem;
    text-transform: capitalize;
    letter-spacing: 1px;
}

/* Lista del catálogo como carrusel */
.catalog-list {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 20px;
    padding: 20px;
    scroll-behavior: smooth;
    margin-top: 2rem;
}

/* Elemento individual del catálogo */
.catalog-item {
    flex: 0 0 auto;
    scroll-snap-align: center;
    width: 200px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
    text-align: center;
}

.catalog-item:hover {
    background-color: #f0f0f0;
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Ocultar las barras de desplazamiento */
.catalog-list::-webkit-scrollbar {
    display: none;
}

.catalog-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Título del catálogo */
.catalog-item h3 {
    margin: 10px 0;
    font-size: 1.25rem;
    color: #333;
}

/* Contenedor de las tarjetas */
.cards-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Lista de tarjetas */
.cards-list {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    background-color: rgba(255, 255, 255, 0.8);
    justify-items: center;
}

/* Elemento individual de la tarjeta */
.card-item {
    position: relative;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    width: 300px;
    height: 400px;
    margin: 10px;
}

.card-item:hover {
    transform: translateY(-5px);
    box-shadow: none;
}

/* Contenedor de la imagen de la tarjeta */
.card__img-wrapper {
    position: relative;
    transform-style: preserve-3d;
    border-radius: 8px;
    overflow: hidden;
}

.card__img {
    width: 100%;
    transition: transform 0.2s ease;
}

.card__img img {
    display: block;
    width: 100%;
    image-rendering: optimizeQuality;
}

.card:hover .card__img {
    transform: rotateY(10deg) rotateX(10deg);
}
